<section class="bg-dark-primary rounded">
    <div class="container">
        <ptg-ui-grid [columnClasses]="gridHeadingColumnClass">
            <ng-template>
                <h3 class="text-black" [innerHTML]="'GRID_LAYOUT_EXAMPLE_HEADING' | translate"></h3>
                <ptg-ui-toggle-code [htmlCode]="htmlCode" [tsCode]="tsCode"></ptg-ui-toggle-code>
            </ng-template>
        </ptg-ui-grid>
        <hr class="css-yasiti" />
        <ptg-ui-grid [columnClasses]="gridExampleColumnClass">
            <ng-template>
                <div class="card">
                    <img src="assets/images/img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" [innerHTML]="'CARD_TITLE_TEXT' | translate"></h5>
                        <p class="card-text" [innerHTML]="'ADD_SOME_QUICK_EX_TEXT' | translate"></p>
                        <a href="#" class="btn btn-primary">{{'GO_SOME_WHERE_TEXT' | translate}}</a>
                    </div>
                </div>
            </ng-template>
            <ng-template>
                <div class="card">
                    <img src="assets/images/img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" [innerHTML]="'CARD_TITLE_TEXT' | translate"></h5>
                        <p class="card-text" [innerHTML]="'ADD_SOME_QUICK_EX_TEXT' | translate"></p>
                        <a href="#" class="btn btn-primary">{{'GO_SOME_WHERE_TEXT' | translate}}</a>
                    </div>
                </div>
            </ng-template>
            <ng-template>
                <div class="card">
                    <img src="assets/images/img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" [innerHTML]="'CARD_TITLE_TEXT' | translate"></h5>
                        <p class="card-text" [innerHTML]="'ADD_SOME_QUICK_EX_TEXT' | translate"></p>
                        <a href="#" class="btn btn-primary">{{'GO_SOME_WHERE_TEXT' | translate}}</a>
                    </div>
                </div>
            </ng-template>
        </ptg-ui-grid>
    </div>
</section>
<section class="bg-image rounded">
    <div class="container">
        <ptg-ui-grid [columnClasses]="gridHeadingColumnClass">
            <ng-template>
                <h2 class="text-white" [innerHTML]="'GRID_LAYOUT_OFFSET_HEADING' | translate"></h2>
                <ptg-ui-toggle-code [htmlCode]="htmlOffsetCode" [tsCode]="tsCode"></ptg-ui-toggle-code>
            </ng-template>
        </ptg-ui-grid>
        <hr class="css-yasiti" />
        <ptg-ui-grid [columnClasses]="gridOffsetExampleColumnClass">
            <ng-template>
                <div class="card">
                    <img src="assets/images/img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" [innerHTML]="'CARD_TITLE_TEXT' | translate"></h5>
                        <p class="card-text" [innerHTML]="'ADD_SOME_QUICK_EX_TEXT' | translate"></p>
                        <a href="#" class="btn btn-primary">{{'GO_SOME_WHERE_TEXT' | translate}}</a>
                    </div>
                </div>
            </ng-template>
            <ng-template>
                <div class="card">
                    <img src="assets/images/img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" [innerHTML]="'CARD_TITLE_TEXT' | translate"></h5>
                        <p class="card-text" [innerHTML]="'ADD_SOME_QUICK_EX_TEXT' | translate"></p>
                        <a href="#" class="btn btn-primary">{{'GO_SOME_WHERE_TEXT' | translate}}</a>
                    </div>
                </div>
            </ng-template>
        </ptg-ui-grid>
    </div>
</section>