/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "./dynamic-theming.scss" as dynamicTheme;
// regular style toast
@import '../../../node_modules/ngx-toastr/toastr';

// ng-select style
@import "~@ng-select/ng-select/themes/default.theme.css";

/* Importing Datepicker SCSS file. */
// @import "~ngx-bootstrap/datepicker/bs-datepicker";
@import "../../../node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// Ag-grid datatable
@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-alpine.css'; 

// Ngx datatable
@import '../../../node_modules/@swimlane/ngx-datatable/index.css';
@import '../../../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

// fontawesome style
@import "~@fortawesome/fontawesome-free/css/all.css";

// @import "./styles/index.scss";
@import "index";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/utilities/api";
@import "./app/app.theme.scss";

// include other modules mixin here
@include app-theme();
@import '../../../libs/ptg-ui-web-components/src/global/global.css';

@import "../../../node_modules/bootstrap/scss/bootstrap";
@include mat.core();
:root{
     //nav header==
  --nav-header-background: '';
  --nav-header-font: '';
  // sidebar==
  --sidebar-background: '';
  --sidebar-fonts: '';
//layout == 
  --content-layout-background: '';
  --content-layout-heading: '';
  --content-layout-subheading: '';
  --content-layout-paracontent: '';

  //primary button==
  --primary-button-background: '';
  --primary-button-font: '';

  //primary button==
  --secondary-button-background: '';
  --secondary-button-font: '';

  //primary button==
  --info-button-background: '';
  --info-button-font: '';

  //primary button==
  --warning-button-background: '';
  --warning-button-font: '';

  //primary button==
  --danger-button-background: '';
  --danger-button-font: '';

}

.dynamic-theme {
  @include mat.all-component-colors(dynamicTheme.$dynamic-app-theme);
}