<!-- Loading -->
<ptg-ui-loading [loading]="loading"></ptg-ui-loading>
<div class="container mt-4">
<div class="mt-5">
  <ptg-ui-toggle-code
  [htmlCode]="dragAndDropHtmlCode"
  [tsCode]="dragAndDropTsCode"
>
</ptg-ui-toggle-code>
  <h3>Drag and Drop List</h3>
  <ul class="list-group mt-5">
    <li
      *ngFor="let item of items; let i = index"
      class="list-group-item"
      draggable="true"
      (dragstart)="onDragStart($event, i)"
      (dragover)="allowDrop($event)"
      (drop)="onDrop($event)"
      [attr.data-index]="i"
    >
      {{ item }}
    </li>
  </ul> 
</div>
<ng-template #elseNotDone>
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-loader m-5" output="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
</div>