/**
 * @since March 2022
 * @author Bhanu Prakash Sharma
 * @Theme common-theme;
 * @description This theme used for common module 
 **/

@mixin common-theme() {
    @include sidenav-theme($main, $cyan);
}

@mixin sidenav-theme($main, $color: #6f90b8) {
    .sidenav{
      .menu-item {
        padding: 10px 8px 10px 20px !important;
        border-radius: 0 !important;

        .menu-item-text {
          font-size: 0.85rem;
          margin-left: 5px !important;
        }
        
        &.child-item{
          padding-left: 65px !important;
        }

        &:hover,
        &.active {
          &:not(.parent-item):not(.disabled) {
            background-color: #9C9191 !important;
            border-radius: 0 !important;
            color: $whiteColor !important;
            i{
              color: $whiteColor !important;
            }
            &.child-item {color:$whiteColor !important;}
            .menu-item-text{color: $whiteColor !important;}
          }
        
        }
    
        &.disabled {
          color: rgba($color, 0.5);
        }
        margin: 0px;
        letter-spacing: 0em;
        font-weight: 400;
        line-height: 1.5em;
        font-size: 0.8rem;
      }
    }
  }