.carousel-parent {
  position: relative;
}


::ng-deep .slide-image img {
  height: 100%;
  min-width: auto !important;
  width: auto;
  border: 1px solid red;
}

.carouselClass{
  max-width: 500px;
  margin:auto; 
}

.image-thumbnail-container{
  padding-bottom: 5rem;
}