@import '../../styles/variables';

.wrapper {
  width: 100vw;
  height: 100vh;
  .main {
    height: 82vh;
    .main-wrapper {
      width: 85vw;
      overflow-x: hidden;
      overflow-y: auto;
      margin:21px 20px 21px 21px;
      padding: 17px;
      border-radius: 9px;
      padding: 10px 20px;
      background-color: $layout-background-color;
      .main-conatiner {
        display: block;
        width: 100%;
      }
    }
  }
}


@media (min-width : 300px) and (max-width: 400px){
  .wrapper {
  .main {
    .main-wrapper {
      padding: 0px 5px 5px 5px;
    }
  }
}
}

@media (min-width : 400px) and (max-width: 500px){
  .wrapper {
  .main {
    .main-wrapper {
      padding: 0px 5px 5px 5px;
    }
  }
}
}


@media (min-width : 500px) and (max-width: 600px){
  .wrapper {
  .main {
    .main-wrapper {
      padding: 0px 8px 8px 8px;
    }
  }
}
}



@media only screen and (max-width: 942px) {
  .header-logo {
    width: 187.198px;
  }
  .wrapper {
    .main {
      .main-wrapper {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 442px) {
  .header-logo {
    width: 157.198px;
  }
}
