# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist_old
/tmp
/out-tsc
/apps/Form-builder

# dependencies
node_modules

# IDEs and editors
.scannerwork
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.scannerwork/

# System Files
.DS_Store
Thumbs.db

.angular

/.nx
/libs/ptg-ui-web-components/.stencil
/libs/ptg-ui-web-components/www
# /apps/ptg-ui-apps-backend/src/assets/


