/* You can add global styles to this file, and also import other style files */

// // regular style toast
@import '../../../node_modules/ngx-toastr/toastr';

// bootstrap 
// @import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @import "../../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
// @import "../../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
// @import "~bootstrap/scss/bootstrap.scss";


// // ng-select style
@import "~@ng-select/ng-select/themes/default.theme.css";

// // Ag-grid datatable 
// @import "ag-grid-community/dist/styles/ag-grid.css";
// @import "~ag-grid-community/dist/styles/ag-theme-alpine.css";


// fontawesome style
// @import "~@fontawesome/fontawesome-free/css/all.css";

@import "./styles/index.scss";
// ================= mixins

//@import "./app/app.theme.scss";
// include other modules mixin here
// @include app-theme();

// ============

.content-wrapper {
  margin-left: 48px;
  margin-top: 58px;
  padding: 15px;
  padding-bottom: 30px;

  .btn-style {
    background-color: #88B4BA;
    border: 1px solid #144358;
    border-radius: 7px;
  }

  .main-heading {
    font-size: 18px;
    font-weight: 700;
    color: #88b4ba;
  }
}

label {
  font-size: 14px;
  margin-bottom: 10px;
}

::placeholder {
  font-size: 14px;
}

input {
  font-size: 14px;
}

.right-sidebar-btn {
  width: 100%;
  border: 1px solid #35677d;
  font-weight: 600;
  color: #35677d;
  transition: 5ms ease-in;
}

.right-sidebar-btn:hover {
  box-shadow: #35677d;
  background-color: #35677d;
  color: white;
}
