@import 'variables';
.user-wrapper{
  .profile-icon {
    //filter: brightness(0.3);
    height: 30px;
    width: 30px;
  }
  .outer-profile{
   position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto, sans-serif;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    background-color: transparent;
    //background: $profilebgColor !important;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    cursor: pointer;
}
  .outer-profile:hover {
    background: $infoColor !important;
  }
  .bginfo{
    background: $infoColor !important;
}
    .user-container{
        position: absolute;
        right: 13px;
        min-width: 135px;

    }
    .triangle-up {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 8px solid rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
        margin-left: 87%;
      }
}