@import '../../styles/variables';
footer {
  height: 8vh;
  background-color: $footer-bg;
  font-size: 0.875rem;

  @media (max-width: 376px){
    font-size: 0.7rem;
  }

  p {
    color: $footer-text;
  }
}
