@import '../../styles/variables';

div {
  margin-bottom: 10px;
}

.address-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.custome-label {
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 2%;
}

.address-label {
  margin-right: 10%;
  margin-bottom: 5px;
  font-weight: bold;
}

.address-input {
  margin-right: 5%;
  width: 45%;
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin-bottom: 5px;
  border: 1px solid $light-grey;
  border-radius: 0.375rem;
}

button {
  background-color: $main;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
      background-color: $main;
    }
}

.error {
  color: $error;
  font-size: 12px;
}

.login-wrapper {
  width: auto;
  height: auto;
  background: none;
  overflow: hidden;

  .login-form-wrapper {
    background: white;
    padding: 8% 10%;
    width: 35vw;

    .login-logo {
      img {
        width: 80%;
      }
    }
  }
}

.btn {
  border: none;
}
