<!-- <app-dealer-header></app-dealer-header> -->
<div class="dealer-auction-layout">
  <div class="main-content">
    <div class="buttons">
      <button mat-button mat-raised-button>Basic</button>
      <button mat-button mat-raised-button color="primary" class="ml-2">Primary</button>
      <button mat-button mat-raised-button color="accent" class="ml-2">Accent</button>
      <button mat-button mat-raised-button color="warn" class="ml-2">Warn</button>
    </div>
    <br />
  <ptg-ui-mat-theme-generator></ptg-ui-mat-theme-generator>
  </div>
 </div>
