@import '../../styles/variables';
.hiddenContent{
  color:$main;
  display:none;
}
nav {
  height: 100%;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  box-shadow: 0px 0px 6px 7px $box-shadow-color !important;
  z-index: 100 !important;
  .logo {
    img {
      height: 30px;
      margin-left: 20px !important;
    }
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .logo {
    img{
      height: 10px;
      width: 70px;
    }
  }
}


@media (min-width: 300px) and (max-width: 942px) {
  .logo {
    img{
      height: 10px;
      width: 70px;
  
  
    }
  }
}

