:host {
  display: block;
}

.btn {
  background: var(--mono-10);
  color: var(--mono-70);
  border-radius: 7px;
  border: none;
  padding: 0 20px;
  height: 38px;
  outline: none;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}
.btn.primary {
  background: var(--primary-50);
  color: var(--white);
}
.btn.primary:hover {
  background: var(--primary-70);
}
.btn.secondary {
  background: gray;
  color: var(--white);
}
.btn.secondary:hover {
  background: var(--mono-70);
}
.btn.warning {
  background: var(--warning-50);
  color: var(--white);
}
.btn.warning:hover {
  background: var(--warning-70);
}
.btn.success {
  background: var(--success-50);
  color: var(--white);
}
.btn.success:hover {
  background: var(--success-70);
}
.btn.danger {
  background: var(--danger-50);
  color: var(--white);
}
.btn.danger:hover {
  background: var(--danger-70);
}
.btn.info {
  background: var(--info-50);
  color: var(--white);
}
.btn.info:hover {
  background: var(--info-70);
}
.btn.light {
  background: var(--light-50);
  color: var(--black);
}
.btn.light:hover {
  background: var(--light-70);
}
.btn.dark {
  background: var(--dark-50);
  color: var(--white);
}
.btn.dark:hover {
  background: var(--dark-70);
}
.showLeft {
  width: 18px;
  margin-left: 12px;
}

.showRight {
  width: 18px;
  margin-right: 12px;
}

div[slot='btnIcon'] {
  svg {
    width: 20px;
    height: 20px;
  }
}
.btn .modal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  min-width: 64px;
  padding: 5px 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(33, 150, 243, 0.5);
  color: var(--primary-50);
  font-weight: 500;
  border-radius: 4px;
}
