.card-section-two {
  .show-code-icon {
    cursor: pointer;
  }

  .single-radio-section {
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .form-check {
        margin-right: 20px;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .form-check {
    .form-check-input {
      border: 1.4px solid #9f9f9f;
    }
    
    .form-check-input:checked {
      border-color: #343a40; 
    }
  }
}
