<div class="wrapper pt-0 pb-0 p-2">
    <section class="mb-3">
        <div class="row bg-white rounded">
          <div class="justify-content-between align-items-center parent-block p-3">
            <h3 [innerHTML]="'CALENDAR_EXAMPLE_1' | translate"></h3>
            <ptg-ui-toggle-code [htmlCode]="htmlCode" [tsCode]="tsCode"></ptg-ui-toggle-code>
        </div>
          <hr class="css-yasiti" />
          <div class="col-12 pt-2">
            <ptg-ui-calendarexample1></ptg-ui-calendarexample1>
          </div>
        </div>
      </section>
    
      <section class="mb-3">
        <div class="row bg-white rounded">
          <div class="justify-content-between align-items-center parent-block p-3">
            <h3 [innerHTML]="'CALENDAR_EXAMPLE_2' | translate"></h3>
          </div>
          <hr class=" css-yasiti" />
          <div class="col-12 pt-2">
            <ptg-ui-calendarexample2></ptg-ui-calendarexample2>
          </div>
        </div>
      </section>
    
      <section class="mb-3">
        <div class="row bg-white rounded">
          <div class="justify-content-between align-items-center parent-block p-3">
            <h3 [innerHTML]="'CALENDAR_EXAMPLE_3' | translate"></h3>
          </div>
          <hr class=" css-yasiti" />
          <div class="col-12 pt-2">
            <ptg-ui-calendarexample3></ptg-ui-calendarexample3>
          </div>
        </div>
      </section>
      <section>
        <div class="row bg-white rounded">
          <div class="justify-content-between align-items-center parent-block p-3">
            <h3 [innerHTML]="'CALENDAR_EXAMPLE_4' | translate"></h3>
          </div>
          <hr class="css-yasiti" />
          <div class="col-12 pt-2">
            <ptg-ui-calendarexample4></ptg-ui-calendarexample4>
          </div>
        </div>
      </section>
</div>
