<div  class="container mt-4">
  <h3 class="mt-5">Drag and Drop in a Grid</h3>
  <ptg-ui-toggle-code
  [htmlCode]="dragAndDropHtmlCode"
  [tsCode]="dragAndDropTsCode"
  >
  </ptg-ui-toggle-code>
    <div class="row mt-5">
      <div class="col-4" *ngFor="let item of gridItems; let i = index">
        <div
          class="card mb-3"
          draggable="true"
          (dragstart)="onGridDragStart($event, i)"
          (dragover)="allowDrop($event)"
          (drop)="onGridDrop($event)"
          [attr.data-index]="i"
        >
          <div class="card-body">
            <h3 class="card-title">{{ item }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>