@import '../../styles/variables';

.sidenav-container::-webkit-scrollbar {
  width: 0px;
  background: transparent !important; /* make scrollbar transparent */
}
.sidenav-container {
  width: 15vw;
  background-color: $white;
  height: 100%;
  position: relative;
  overflow: auto;
  transition: all 0.3s ease-in; //---
  .sidenav {
    width: 100%;

    .menu-item {
      padding: 5px 8px;
      text-decoration: none;
      font-size: 0.8rem; //---
      display: flex;
      align-items: center;
      transition: 0.3s;
      cursor: pointer;
      width: 95%;
      margin-top: 0.02rem !important;
      &.parent-item,
      &.disabled {
        cursor: auto;
        color: #6f90b8 !important;
      }

      i {
        color: $main;
        width: auto;
        height: auto;
        // margin-bottom: 0.25rem;
      }

      &.child-item {
        margin: 1px 0px;
        padding-left: 4rem;
        color: $main;
        font-size: 0.75rem;
      }

      .menu-item-text {
        display: inline-block;
        margin-left: 10px;
        color: $main;
      }

      &:hover,
      &.active {
        &:not(.parent-item):not(.disabled) {
          background-color: $side-menu-color;
          width : 300px;
          border-radius: 0.5rem;
          color: $white;
          background-size: 100% 100%;
          margin-top: 0.02rem !important;
        
          i {
            color: black !important;
          }
          &.child-item {
            color: $side-menu-text-color !important;
          }
          .menu-item-text {
            color: $side-menu-text-color !important;
          }
        }
      }
    }
  }
}


// new Styles

.sidebar {
  height: 100%;
}
.navbar .fa.fa-bars {
  display: none;
  font-size: 1 em;
  width: min-content;
  color: $secondGrey;
  background-color: $main;
  padding: 10px;
  border-radius: 5px;
}

#toggle {
  display: none;
}

.acc-header{
  font-size: small !important;
  .accordion-button{
    background-color: $white !important;
    border: none !important;
    height : 35px !important;
    font-size: small !important;
    box-shadow: none !important;
    margin-top: 10px;
  }
}


.accordion-button::after{
  --bs-accordion-btn-icon-width: 0.8rem;
  --bs-accordion-btn-icon-height: 0.8rem;

}
.accordion-with-arrow{
  .accordion-button::after {
    height: 0 !important;
  }
}
.acc-body{
  height : 40px;
  font-size: 8px;
  margin-top: -10px;
  margin-left: -36px;
  margin-bottom: 10px;
}

.acc{
  .accordion-item{
    border: none !important;
  }
}

@media (min-width: 320px) and (max-width: 550px){
  .sidenav-container {
    width: 3rem;
    position: absolute;
    left: -181px;
  }

  .navbar .fa.fa-bars {
    display: block;
    cursor: pointer;
    margin-left: 1rem;
  }

  .sidenav-container:hover,
  #toggle:checked ~ .sidenav-container {
    position: relative;
    left: 0;
  }
  .accordion-button::after {
    height: 0 !important;
  }
  .sidenav-container .sidenav .menu-item.active:not(.parent-item):not(.disabled) {
    width: 28px;
    height: 40px;
  }
  .child-icon{
    margin-left: 2px;
  }
  .table-chart-icon{
    margin-left: -19px;
  
  }
    
  .navbar .fa.fa-bars {
    display: block;
    cursor: pointer;
    margin-left: 1rem;
  }

  .sidenav-container:hover,
  #toggle:checked ~ .sidenav-container {
    position: relative;
    left: 0;
  }
  .accordion-button::after {
    height: 0 !important;
  }
  .sidenav-container .sidenav .menu-item.active:not(.parent-item):not(.disabled) {
    width: 28px;
    height: 40px;
  }
}



@media (min-width: 550px) and (max-width: 600px){
  .sidenav-container {
    width: 9.3rem;
    position: absolute;
    left: -181px;
  }
    
  .navbar .fa.fa-bars {
    display: block;
    cursor: pointer;
    margin-left: 1rem;
  }

  .sidenav-container:hover,
  #toggle:checked ~ .sidenav-container {
    position: relative;
    left: 0;
  }

  .sidenav-container .sidenav .menu-item .menu-item-text {
    font-size: 11px;
}
.sidenav-container .sidenav .menu-item.child-item {
  
  font-size: 10px;
}
}


@media (min-width: 601px) and (max-width: 700px){
  .sidenav-container {
    width: 10rem;
    position: relative;
    .sidenav {
      width: 100%;
    }
  }
  .sidenav-container .sidenav .menu-item .menu-item-text {
    font-size: 12px;
}
.sidenav-container .sidenav .menu-item.child-item {
  
  font-size: 11px;
}
}

@media (min-width: 700px) and (max-width: 959.98px){
  .sidenav-container {
    width: 11rem;
    position: relative;
    .sidenav {
      width: 100%;
    }
  }
}

@media (min-width: 959px) and (max-width: 1200px){
  .sidenav-container {
    width: 12rem;
    position: relative;
    .sidenav {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px){
  .sidenav-container {
    width: 14rem;
    position: relative;
    .sidenav {
      width: 100%;
    }
  }
}


.table-chart-icon{
  margin-right: 13px;
}
