/* Container Styles */
.custom-toast-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

/* Toast Styles */
.custom-toast {
  position: relative;
  min-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid rgb(177, 177, 177);
  transition: opacity 0.3s ease-in-out;
  pointer-events: auto;
}

.custom-toast.show {
  display: block;
}

.custom-toast.hide {
  display: none;
}

/* Toast Header */
.toast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
}

/* Toast Background Colors */
.custom-toast.success {
  background-color: darkgreen;
}

.custom-toast.error {
  background-color: darkred;
  color: white;
}

.custom-toast.warning {
  background-color: rgba(220, 129, 0, 0.3);
}

.custom-toast.info {
  background-color: rgba(0, 126, 253, 0.3);
}

/* Toast Title */
.toast-title {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-title.success,
.toast-icon.success {
  color: white;
}

.toast-title.error,
.toast-icon.error {
  background-color: darkred;
  color: white;
}

.toast-title.warning,
.toast-icon.warning {
  color: white;
}

.toast-title.info,
.toast-icon.info {
  color: white;
}

/* Close Button */
.toast-close-btn {
  background: none;
  border: none;
  color: rgb(28, 28, 28);
  font-size: 20px;
  cursor: pointer;
}

/* Divider */
.toast-divider {
  margin: 0;
}

/* Toast Message */
.toast-message {
  font-size: 14px;
  color: #000;
  margin: 15px;
}

/* Toast Icon */
.toast-icon {
  margin-right: 7px;
  font-size: 17px;
}
