// @media (min-width: 320px) and (max-width: 345px) {
//   .carousel-component {
//     margin-left: -2.1rem;
//   }
//   .hide-indicators-heading {
//     font-size: 12px;
//   }
// }

// @media (min-width: 345px) and (max-width: 370px) {
//   .carousel-component {
//     margin-left: -1rem;
//   }
//   .hide-indicators-heading {
//     font-size: 12px;
//   }
// }

.carousel-component {
  max-width: 700px;
  margin-inline: auto;
}

.d-block {
  display: block;
}
.parent-container {
  width: 100%;
}

.carousel {
  margin-left: 15%;
  margin-right: 15%;
}

ul.slides {
  display: block;
  list-style: none;
  margin: 0;
  min-height: 150px;
  min-width: 100px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.slides * {
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.7s ease-in-out;
  width: 100%;
}

.slide-image img {
  height: 100%;
  min-width: 100%;
  width: auto;
  object-fit: cover;
}

.carousel-controls {
  color: #fff;
  font-size: 100px;
  left: 0;
  line-height: 400px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.carousel-controls label {
  cursor: pointer;
  display: none;
  opacity: 0;
  padding: 0 20px;
  position: absolute;
  transition: opacity 0.2s;
}

.slide-image:hover + .carousel-controls label {
  opacity: 0.5 !important;
}

.carousel-controls label:hover {
  opacity: 1 !important;
}

.carousel-controls .prev-slide {
  left: 0;
  text-align: left;
  width: 20%;
}

.carousel-controls .next-slide {
  right: 0;
  text-align: right;
  width: 20%;
}

.carousel-dots {
  bottom: 20px;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 999;
}

.carousel-dots .carousel-dot {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 10px;
  opacity: 0.3;
  width: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
  display: block;
}

// input#img-1:checked ~ .carousel-dots label#img-dot-1,
// input#img-2:checked ~ .carousel-dots label#img-dot-2,
// input#img-3:checked ~ .carousel-dots label#img-dot-3,
// input#img-4:checked ~ .carousel-dots label#img-dot-4,
// input#img-5:checked ~ .carousel-dots label#img-dot-5,
// input#img-6:checked ~ .carousel-dots label#img-dot-6 {
//   opacity: 1;
// }

input:checked + .slide-container .nav label {
  display: block;
}
@media (max-width: 991px) {
  .carousel-controls label {
    opacity: 1 !important;
  }
}
