/* carousel.css */
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-content {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.ptg-ui-carousel-dot {
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.ptg-ui-carousel-dot.active {
  background-color: blue;
  transform: scale(1.5);
  width: 2.5vw;
  height: 0.55vw;
  border-radius: 5px;
  margin: 4px 10px;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carousel-controls button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  margin: 5%;
}

.carousel-controls button:hover {
  background-color: #0056b3;
}

.carousel-controls.top {
  top: 10px;
  position: absolute;
}

.carousel-controls.middle {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.carousel-controls.bottom {
  margin-top: 10px;
}

/* carouselWithCard.css */
.icon-navigation {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.icon-navigation img {
  transition: opacity 0.3s;
}

.icon-button {
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 5px;
  opacity: 0.5;
}

.icon-button :active {
  opacity: 1;
}

/* Card css */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s;
  text-align: center;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-image.circle {
  border-radius: 50%;
}

.card-image.square {
  border-radius: 0;
}

.card-image.rectangle {
  border-radius: 10px;
}

.card-title {
  font-size: 1.5rem;
  margin: 10px 0;
  color: white;
}

.card-description {
  font-size: 1rem;
  color: white;
  text-align: left;
}

.card-description ul {
  padding-left: 20px;
  margin: 0;
}

.card-description li {
  margin-bottom: 5px;
  list-style: inside;
}
