@import "variables";
.wrapper{
    width: 100vw;
    height: 100vh;
    .main{
        height: calc(100vh - 106px);
        background-color: #FAFAFA;

        .main-wrapper{
            width: 100%;
            background-color: $whiteColor;
            padding: 17px;
            overflow: auto;
            padding: 10px 10px;
            .main-conatiner{
                display: block;
                width: 100%;
            }
        }
    }
}