<div class="wrapper">
  <!-- header -->
  <ptg-ui-header>
 
  </ptg-ui-header>
  <!-- main -->
  <div class="main">
    <div class="d-flex h-100">
      <div class="flex-shrink-1 side-nav-wrapper h-100">
        <!-- side nav start -->
        <ptg-ui-sidenav1 [selectedPath]="selectedPath" [isMenuOpen]="isMenuOpen" [menuItems]="menuItems"
          (select)="($event)"></ptg-ui-sidenav1>
        <!-- side nav end -->
      </div>
      <div class="main-wrapper">
        <div class="main-conatiner p-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <ptg-ui-footer></ptg-ui-footer>
</div>