@import '../../styles/variables';

.bg-dark-primary {
    background-color: $main;
}
.bg-image {
    background-image: url("../../../assets/images/bg1.png");
    background-attachment: fixed;
}
section {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
}

@media (min-width : 300px) and (max-width: 345px){
    .go-somewhere-button {
        width : 90px
    }
}
@media (min-width : 340px) and (max-width: 355px){
    .go-somewhere-button {
        width : 110px
    }
}